<h1>TODO: Update UI and add Customers list here</h1>
<ol>
  <li>
    NB: Customer A/c and Customer A/c Balance(From Accounts table) are required
    for every Customer. Update the API accordingly to return the expected data.
  </li>
  <li>
    NB: Create a reusable search component to search a customer by Customer Id)
  </li>
  <li></li>
  <li>Display the search results below</li>
  <li>Add pagination for customers data</li>
</ol>
<h3>Search transaction by Customer Id </h3>

<div style="padding: 40px;">
  <form class="form-inline">
         <div class="customer">
         <div class="col-md-6"><div class="form-group">

          <input type="text" class="form-control" #customerID placeholder="Enter Customer ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
      </div>

       </div>


       <button class="btn btn-primary" (click)="GetCustomerAccountByCustomerById(customerID.value)"  type="button">search</button>
  </form>
  </div>



  <div>
    <div class="header">
      <h2>Search Results</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Customer Id</th>
          <th>Customer A/c</th>
          <th>Customer A/c Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerById">
          <td>{{customer.FIRST_NAME}}</td>
          <td>{{customer.LAST_NAME}}</td>
          <td>{{customer.EMAIL}}</td>
          <td>{{customer.CUSTOMER_ID}}</td>
          <td>{{customer.ACCOUNT_NO}}</td>
          <td>{{customer.BALANCE}}</td>

        </tr>
      </tbody>
    </table>

  </div>
<div>



<div>
  <table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Customer Id</th>
      <th>Customer A/c</th>
      <th>Customer A/c Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.FIRST_NAME}}</td>
      <td>{{customer.LAST_NAME}}</td>
      <td>{{customer.EMAIL}}</td>
      <td>{{customer.CUSTOMER_ID}}</td>
      <td>{{customer.ACCOUNT_NO}}</td>
      <td>{{customer.BALANCE}}</td>

    </tr>
  </tbody>
</table></div>
