<h1>
  TODO: Add UI and logic to create a new Webuser on the databse via the API
</h1>

<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="employeeId">Employee Id</label>
        <input
          type="employeeId"
          class="form-control"
          name="employeeId"
          [(ngModel)]="form.employeeId"
          required
          employeeId
          #employeeId="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && employeeId.invalid">
          <div *ngIf="employeeId.errors.required">employeeId is required</div>

        </div>
      </div>
      <div class="form-group">
        <label for="customerId">Customer Id</label>
        <input
          type="customerId"
          class="form-control"
          name="customerId"
          [(ngModel)]="form.customerId"
          required
          customerId
          #customerId="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && customerId.invalid">
          <div *ngIf="customerId.errors.required">customer Id is required</div>
        </div>
      </div>


      <div class="form-group">
        <button class="btn btn-primary btn-block">Create Web User</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
