<h1>TODO: Add Transactions list here</h1>
<ol>
  <li>
    NB: Create a reusable search component and use it here to serach a
    transaction by transaction ID)
  </li>
  <li></li>
  <li>Display the search results in the table below</li>
</ol>


<!-- <table class="table">
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Customer Id</th>
      <th>Account No</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Trn Type</th>
      <th>Debit/Credit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
  </tbody>
</table> -->


<div style="padding: 40px;">
  <form class="form-inline">
         <div class="row">
         <div class="col-md-6"><div class="form-group">

          <input type="text" class="form-control" #customerID placeholder="Enter Customer ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
      </div>

       </div>
       <button class="btn btn-primary" (click)="seachTransactionByTransactionId(customerID.value)"  type="button">search</button>
  </form>
  </div>


  <div>
    <div class="header">
      <h2>Search Results</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Transaction Id</th>
          <th>Customer Id</th>
          <th>Account No</th>
          <th>Amount</th>
          <th>Balance</th>
          <th>Trn Type</th>
          <th>Debit/Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactionsById">
          <td>{{ transaction.transactionId}}</td>
          <td>{{ transaction.customerId}}</td>
          <td>{{ transaction.accountNo}}</td>
          <td>{{ transaction.amount}}</td>
          <td>{{ transaction.balance}}</td>
          <td>{{ transaction.transactionType}}</td>
          <td>{{ transaction.debitOrCredit}}</td>
        </tr>
      </tbody>
    </table>

  </div>


  <div>
    <div class="header">
      <h2>All Transactions</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Transaction Id</th>
          <th>Customer Id</th>
          <th>Account No</th>
          <th>Amount</th>
          <th>Balance</th>
          <th>Trn Type</th>
          <th>Debit/Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionId}}</td>
          <td>{{ transaction.customerId}}</td>
          <td>{{ transaction.accountNo}}</td>
          <td>{{ transaction.amount}}</td>
          <td>{{ transaction.balance}}</td>
          <td>{{ transaction.transactionType}}</td>
          <td>{{ transaction.debitOrCredit}}</td>
        </tr>
      </tbody>
    </table>

  </div>



